language: java

sudo: false
addons:
  apt:
    packages:
      - oracle-java8-installer      

branches:
  only:
    - master

cache:
  directories:
    - $HOME/.m2

jdk:
  - oraclejdk8

script: mvn clean install
